<c-col xs="12">
    <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
            <div *ngIf="alumno" style="font-weight: bold;">
                <svg cIcon class="me-0" name="cil-user"></svg> {{alumno.nombres ?? ''}} {{alumno.apellidos ?? ''}} -
                ({{alumno.dni ?? ''}})
            </div>
        </c-card-header>
        <c-card-body>
            <button cButton color="primary" size="sm" (click)="toggleFormActivo()">
                <svg cIcon class="me-1" name="cil-dollar"></svg>Registrar pago</button>&nbsp;
            <button cButton type="button" (click)="toExcel()" color="secondary" size="sm" disabled>
                <svg cIcon class="me-1" name="cil-spreadsheet"></svg>Excel</button>&nbsp;
            <button cButton color="secondary" size="sm" type="button" (click)="cancel()">
                <svg cIcon class="me-1" name="cil-arrow-left"></svg>Regresar</button>
            <hr />
            <table bordered cTable [striped]="true" [hover]="true" small [responsive]="true"
                class="centered-table head-static tableDeuda">
                <thead cTableColor="dark">
                    <tr>
                        <th scope="col">...</th>
                        <th scope="col">#</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Estado</th>
                        <th scope="col">F. registro</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of deudas; index as i">
                        <tr [ngClass]="{'nb-selected': item.selected, 'nb-deuda': !esPagado(item.estadoDeuda)}" (click)="toggleCheckbox(item)">
                            <td style="width: 40px;" title="Cod: {{item.idDeuda}}"><input type="checkbox" cFormCheckInput [checked]="item.selected" [disabled]="esPagado(item.estadoDeuda)"/></td>
                            <td scope="row" style="width: 50px;">{{ i + 1 }}</td>
                            <td>{{ item.concepto }}</td>
                            <td class="align-right" style="font-weight: bold;">{{ item.montoRestante > 0 ? item.montoRestante : item.monto}}</td>
                            <td style="width: 100px;">
                                <svg cIcon [class]="esPagado(item.estadoDeuda) ? 'me-0 text-success' : 'me-0 text-danger'" [name]="esPagado(item.estadoDeuda) ? 'cil-check': 'cil-av-timer'"></svg>
                                {{ estadoDeuda(item.estadoDeuda)}}
                            </td>
                            <td style="width: 150px;">{{ item.fechaRegistro }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
            <c-alert color="warning">
                Total a pagar: <strong>S/ {{ totalMonto }}</strong>
            </c-alert>
            <c-alert color="success" *ngIf="tieneSaldo">
                El alumno tiene saldo a su favor de: <strong>S/ {{ totalSaldo | number:'1.2-2' }}</strong>
            </c-alert>
            <table bordered cTable [striped]="true" [hover]="true" small [responsive]="true"
                class="centered-table head-static" *ngIf="tieneSaldo">
                <thead cTableColor="dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nro. comprobante</th>
                        <th scope="col">Saldo</th>
                        <th scope="col">F. registro</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let item of saldos; index as i">
                        <tr>
                            <td scope="row" style="width: 50px;">{{ i + 1 }}</td>
                            <td>{{ item.operacion }}</td>
                            <td class="align-right" style="font-weight: bold; color: green; width: 150px;">{{ item.monto | number:'1.2-2'}}</td>
                            <td style="width: 150px;">{{ item.fechaRegistro }}</td>
                        </tr>
                    </ng-container>
                </tbody>
            </table>
        </c-card-body>
    </c-card>
</c-col>

<c-modal #modalLg id="modalLg" [visible]="modalFormActivoVisible" (visibleChange)="handleModalChange($event)"
    backdrop="static">
    <form cForm [formGroup]="pagoForm" novalidate (ngSubmit)="onPagoSubmit()">
        <c-modal-header>
            <h5 cModalTitle>{{pagoForm.controls['idPago'].value ? 'Modificar' : 'Pagar'}} deuda</h5>
            <button (click)="onResetActivoForm()" cButtonClose></button>
        </c-modal-header>
        <c-modal-body class="register-form">
            <div *ngIf="alumno" style="font-weight: bold;">
                {{alumno.nombres ?? ''}} {{alumno.apellidos ?? ''}} - ({{alumno.dni ?? ''}})
            </div>
            <c-alert color="success" *ngIf="tieneSaldo">
                Alumno con saldo a su favor de: <strong>S/ {{ totalSaldo | number:'1.2-2' }}</strong>
                &nbsp;¿Desea usar el saldo para realizar el pago?: <input cFormCheckInput type="checkbox" [checked]="aplicarSaldo"
                (click)="toggleAplicaSaldo($event)" />
            </c-alert>
            <hr />
            <c-row class="mb-1">
                <label cCol [sm]="4" cLabel="col" for="operacion">Nro. de operación</label>
                <c-col [sm]="8" *ngIf="pagoForm.controls['operacion'] as ctrl">
                    <input cFormControl id="operacion" type="text" formControlName="operacion"
                        placeholder="Nro. de operación del comprobante" autocomplete="off" required
                        [valid]="ctrl.touched && ctrl.valid ? true : ctrl.touched && ctrl.invalid ? false : undefined" />
                    <c-form-feedback [valid]="!ctrl.invalid">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Nro operación es requerido</div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row class="mb-1">
                <label cCol [sm]="4" cLabel="col" for="monto">Monto</label>
                <c-col [sm]="8" *ngIf="pagoForm.controls['monto'] as ctrl">
                    <c-input-group>
                        <input cFormControl id="monto" type="text" formControlName="monto" placeholder="Monto"
                            autocomplete="off" required [readonly]="readOnlyMonto"
                            [valid]="ctrl.touched && ctrl.valid ? true : ctrl.touched && ctrl.invalid ? false : undefined" />
                        <span cInputGroupText>S/ {{totalMonto | number:'1.2-2'}}</span>
                        <c-form-feedback [valid]="!ctrl.invalid">
                            <ng-container *ngIf="ctrl.errors as errors">
                                <div *ngIf="errors.required">monto es requerido</div>
                                <div *ngIf="errors.pattern">
                                    Ingrese datos numéricos
                                </div>
                                <div *ngIf="errors.max">
                                    Superó la cantidad límite
                                </div>
                                <div *ngIf="errors.min">
                                    Ingrese número mayor a "0"
                                </div>
                            </ng-container>
                        </c-form-feedback>
                    </c-input-group>
                </c-col>
            </c-row>
            <c-row class="mb-1">
                <label cCol [sm]="4" cLabel="col" for="fechaComprobante">F. comprobante</label>
                <c-col [sm]="8" *ngIf="pagoForm.controls['fechaComprobante'] as ctrl">
                    <input cFormControl id="fechaComprobante" type="date" formControlName="fechaComprobante"
                        placeholder="Generado automáticamente por el sistema" autocomplete="off"
                        [valid]="ctrl.touched && ctrl.valid ? true : ctrl.touched && ctrl.invalid ? false : undefined" />
                    <c-form-feedback [valid]="!ctrl.invalid">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors.required">Código de barras es requerido</div>
                            <div *ngIf="errors.pattern">
                                Ingrese solo números [0-9]
                            </div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row class="mb-1">
                <label cCol [sm]="4" cLabel="col" for="observacion">Observación</label>
                <c-col [sm]="8" *ngIf="pagoForm.controls['observacion'] as ctrl">
                    <textarea cFormControl id="observacion" rows="2" formControlName="observacion" autocomplete="off"
                        [valid]="
                  ctrl.touched && ctrl.valid ? true : ctrl.touched && ctrl.invalid ? false : undefined"></textarea>
                    <c-form-feedback *ngIf="ctrl.invalid" [valid]="!(ctrl.invalid)">
                        <ng-container *ngIf="ctrl.errors as errors">
                            <div *ngIf="errors?.required">Observación es requerido</div>
                            <div *ngIf="ctrl.hasError('maxlength')">
                                Máximo de caracteres superados (1000)
                            </div>
                        </ng-container>
                    </c-form-feedback>
                </c-col>
            </c-row>
            <c-row class="mb-1">
                <label cCol [sm]="4" cLabel="col" for="imgProducto">Imagen del comprobante</label>
                <c-col [sm]="8">
                    <c-input-group class="mb-3" sizing="sm">
                        <input cFormControl id="imgProducto" type="file" multiple (change)="onFileChange($event)"
                            formControlName="imgsPago" />
                        <button *ngIf="pagoForm.controls['idPago'].value" cInputGroupText type="button"
                            (click)="listArchivos('activo')">
                            <svg cIcon class="me-1" name="cil-image"></svg>Ver</button>
                    </c-input-group>
                </c-col>
            </c-row>
            <div class="image-gallery">
                <div class="image-container" *ngFor="let image of selectedFilesProducto">
                    <img [src]="image.previewUrl" alt="Image">
                    <button cButtonClose type="button" (click)="deleteTmpImgProducto(image)" class="delete-button"
                        size="sm"></button>
                </div>
            </div>
        </c-modal-body>
        <c-modal-footer>
            <button cButton color="primary" type="submit" [disabled]="pagoForm.invalid" [tabindex]="'0'">
                <svg cIcon class="me-1" name="cil-save"></svg>Pagar
            </button>&nbsp;
            <button cButton color="secondary" type="reset" (click)="onResetActivoForm()" [tabindex]="'0'">
                <svg cIcon class="me-1" name="cil-x"></svg>Cancelar
            </button>
        </c-modal-footer>
    </form>
</c-modal>

<c-modal #modalImages id="modalImages" [visible]="modalFotoVisible" size="xl" backdrop="static">
    <c-modal-header>
        <h5 cModalTitle>Comprobante</h5>
        <button (click)="toggleFotosModal()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body class="register-form">
        <div *ngIf="listImagenes.length  > 0; else arrayVacio">
            <button cButton type="button" size="sm" (click)="deleteArchivo()"><svg cIcon class="me-1"
                    name="cil-trash"></svg>Eliminar archivo</button>
            <div style="height: 5px;"></div>
            <ngb-carousel [interval]="0" (slid)="onSlide($event)">
                <ng-template ngbSlide *ngFor="let slide of listImagenes" id="{{slide.id_archivo}}">
                    <div class="picsum-img-wrapper" style="text-align: center; background-color: #919191;">
                        <img [src]="resourceUrl + '/Archivo/showImage/' + slide.id_archivo"
                            alt="{{slide.nombre_real}}" />
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
        <ng-template #arrayVacio>
            <p>El registro no tiene imágenes</p>
        </ng-template>
    </c-modal-body>
</c-modal>