<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
        <c-row class="justify-content-center">
            <c-col md="8">
                <c-card-group class="shadow">
                    <c-card class="p-4">
                        <c-card-body>
                            <form cForm [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                                <h1>Acceso</h1> <b>NireSpa v{{version}}</b>
                                <p class="text-medium-emphasis">Iniciar sesión en su cuenta</p>
                                <c-input-group class="mb-3" *ngIf="loginForm.controls['username'] as ctrl">
                                    <span cInputGroupText>
                                    <svg cIcon name="cilUser"></svg>
                                  </span>
                                    <input autoComplete="username" cFormControl placeholder="Usuario" formControlName="username" required [valid]="
                                    ctrl.touched && ctrl.valid ? true: ctrl.touched && ctrl.invalid ? false : undefined" />
                                    <c-form-feedback *ngIf="ctrl.invalid" [valid]="!(ctrl.invalid)">
                                        <ng-container *ngIf="ctrl.errors as errors">
                                            <div *ngIf="errors?.required">Usuario es requerido</div>
                                        </ng-container>
                                    </c-form-feedback>
                                </c-input-group>
                                <c-input-group class="mb-4" *ngIf="loginForm.controls['password'] as ctrl">
                                    <span cInputGroupText>
                                    <svg cIcon name="cilLockLocked"></svg>
                                  </span>
                                    <input autoComplete="current-password" cFormControl placeholder="Contraseña" type="password" formControlName="password" [valid]="
                                    ctrl.touched && ctrl.valid ? true: ctrl.touched && ctrl.invalid ? false : undefined" />
                                    <c-form-feedback *ngIf="ctrl.invalid" [valid]="!(ctrl.invalid)">
                                        <ng-container *ngIf="ctrl.errors as errors">
                                            <div *ngIf="errors?.required">Contraseña es requerido</div>
                                        </ng-container>
                                    </c-form-feedback>
                                </c-input-group>
                                <c-row>
                                    <c-col xs="6">
                                        <button cButton color="primary" type="submit" [disabled]="loginForm.invalid || isSubmited">
                                          <svg cIcon class="me-1" name="cil-check"></svg>
                                          {{isSubmited ? 'Ingresando...' : 'Ingresar'}}
                                        </button>
                                    </c-col>
                                    <c-col class="text-right" xs="6">
                                        <button cButton class="px-0" color="link" disabled>
                                          ¿Has olvidado tu contraseña?
                                        </button>
                                    </c-col>
                                    <div style="font-weight: bold; color: red;" *ngIf="msg"> <svg cIcon class="me-1" name="cil-warning"></svg> {{msg}}</div>
                                </c-row>
                            </form>
                        </c-card-body>
                    </c-card>
                    <c-card class="text-white bg-primary py-5">
                        <c-card-body class="text-center">
                            <div>
                                <h2>Inscribirse</h2>
                                <p>
                                    El servicio que brindamos está basado en la atención de excelente calidad, con un equipo de trabajo capacitado y con el fin de garantizar la satisfacción de nuestros clientes.
                                </p>
                                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register" disabled>
                  ¡Regístrate ahora!
                </button>
                            </div>
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>
    </c-container>
</div>